BouncingBubble/logs/
BouncingBubble/bin/
BouncingBubble/obj/
.vs/
BouncingBubble/Properties/PublishProfiles/FolderProfile.pubxml
BouncingBubble/Properties/PublishProfiles/FolderProfile.pubxml.user
BouncingBubble/BouncingBubble.csproj.user
